node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS & IDE Files
.DS_Store
.vscode/
.idea/
*.local
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite/Environment
.env
.env.local
.env.*.local